{% extends 'layout/member/base_member.html' %}
{% load static %}

{% block title %}Mypage | Member {% endblock title %}
{% block user_id%}user_id{% endblock user_id %}
{% block content %}
            <h3 style="margin-bottom: 50px;" class="text-center">회원정보</h3>

            <div style="display: flex; gap:30px; margin-bottom: 20px;">
            <input type="datetime-local" name="startDate" id="startDate">
                <p>-</p>
            <input type="datetime-local" name="endDate" id="endDate">
                <div style="margin-left: 30px;">
                    <button id="date_button" type="button" name="date_button" style="background-color:lightgoldenrodyellow;">조회</button>
                </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">회원명</th>
                  <th scope="col">아이디</th>
                  <th scope="col">휴대폰번호</th>
                  <th scope="col">성별</th>
                  <th scope="col">연령대</th>
                  <th scope="col">이메일</th>
                  <th scope="col">방문횟수</th>
                  <th scope="col">총 결제액</th>
                  <th scope="col">회원가입일</th>
                  <th scope="col">마지막 방문일</th>
                  <th scope="col">포인트</th>
                  <th scope="col">프로필사진</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th scope="row">1</th>
                  <td>홍길동</td>
                  <td>hong</td>
                  <td>01012345678</td>
                  <td>남성</td>
                  <td>20대</td>
                  <td>hong@naver.com</td>
                  <td>10</td>
                  <td>300,000</td>
                  <td>2025-01-01</td>
                  <td>2025-02-14</td>
                  <td>9,000</td>
                  <td>null</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>고길동</td>
                  <td>dong</td>
                  <td>01011112222</td>
                  <td>남성</td>
                  <td>40대</td>
                  <td>dong@gmail.com</td>
                  <td>20</td>
                  <td>500,000</td>
                  <td>2024-09-10</td>
                  <td>2025-02-02</td>
                  <td>15,000</td>
                  <td><img src="{% static 'images/dong.png' %}" width="30"></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>하니</td>
                  <td>hani</td>
                  <td>01077778888</td>
                  <td>여성</td>
                  <td>10대</td>
                  <td>hani@naver.com</td>
                  <td>15</td>
                  <td>100,000</td>
                  <td>2024-10-14</td>
                  <td>2025-01-31</td>
                  <td>3,000</td>
                  <td>null</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <tr>
                  <th scope="row">6</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tr>
              </tbody>
            </table>

    {#  하단 페이지 넘김 버튼  #}
    <nav aria-label="..." style="margin-top:10%;">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-next">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
{% endblock content %}

{% block script %}
<script>

// 설정한 기간 내의 결제 내역이 검색되도록 설정
    document.getElementById("date_button").addEventListener("click", function() {
        // 시작일자, 종료일자 가져오기
        let startDate = new Date(document.getElementById("startDate").value);
        let endDate = new Date(document.getElementById("endDate").value);

        // 테이블 가져오기
        let rows = document.querySelectorAll(".table tbody tr");

        // 결제일자 불러오기
        rows.forEach(row => {
            let dateCell = row.querySelector("td:first-child");
            if (dateCell) {
                let purchaseDate = new Date(dateCell.innerText);

                // purchaseDate가 startDate와 endDate 사이인지 확인
                if (purchaseDate >= startDate && purchaseDate <= endDate) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    });

    // 결제일자 누르면 상세 페이지 - 새탭으로
    document.querySelectorAll(".clickable").forEach(cell => {
        cell.addEventListener("click", function () {
            let paymentRow = this.parentElement;
            let paymentId = paymentRow.getAttribute('data-payment-id');

            if (paymentId) {
                let detailPageUrl = `/details/${paymentId}/`;
                window.open(detailPageUrl, "_blank");
            }
        })
        }
    )
</script>

{% endblock script %}
