{% extends 'layout/main/main_base.html' %}
{% load static %}

{% block title %}Q&A{% endblock title %}

{% block header %}
    {% include 'layout/main/main_header.html' %}
{% endblock header %}

{% block content %}
    <h3 style="margin-top: 20px; font-weight: bold" class="text-center">QnA</h3>
    <!-- 검색 -->
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px; justify-content: flex-end;">
        <input type="search" id="searchMember" placeholder="검색어를 입력해주세요" style="padding: 10px; width: 250px; border: 1px solid #ccc; border-radius: 5px;">
        <button id="search_button" type="button" name="search_button" style="background-color: lightgoldenrodyellow; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">검색</button>
    </div>
    <div class="container my-1">
{#        table.table>thead>tr.table-dark>th*4#}
        <table class="table table-striped">
            <thead>
            <tr class="table-dark">
                <th scope="col"></th>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">매장</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for qna in page_obj %}
                {% if forloop.counter <= 10 %}
                    <tr>
                        <td class="checkbox-column"><input type="checkbox" class="row-checkbox"></td>
                        <td>{{ qna.qna_id }}</td>
                        <td>
                            <a href="{% url 'qna:qna_detail' qna.qna_id %}" class="text-decoration-none">
                                {{ qna.title }}
                            </a>
                        </td>
                        <td>{{ qna.store }}</td>
                        <td>{{ qna.member_id }}</td>
                        <td>{{ qna.created_at }}</td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="11">등록된 Q&A가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <!-- 페이징 처리 시작 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 영역 시작 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'qna:qna_main' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            <!-- 이전페이지 영역 끝 -->

            <!-- 페이지넘버 영역 시작 -->
            {% for page_number in page_obj.paginator.page_range %}
                {# 현재페이지 기준 앞뒤 3개까지만 표시 (4 ~ 7 링크 표시) #}
                {% if page_number >= page_obj.number|add:-3 and page_number <= page_obj.number|add:3 %}
                    {% if page_number == page_obj.number %}
                        {# 현재페이지인 경우 #}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                    {% else %}
                        {# 현재페이지가 아닌 경우 #}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'qna:qna_main' %}?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}

            {% endfor %}
            <!-- 페이지넘버 영역 끝 -->

            <!-- 다음페이지 영역 시작 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'qna:qna_main' %}?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
            <!-- 다음페이지 영역 끝 -->
        </ul>
    </nav>
    <!-- 페이징 처리 끝 -->
    <div style="display: flex; justify-content: flex-start;">
        {% if user.is_authenticated and request.session.member_type != "manager" %}
            <a href="{% url 'qna:qna_create' %}" class="btn btn-primary" style="margin-bottom: 20px; display: inline-block;">질문 등록</a>
        {% endif %}
    </div>
{% endblock content %}

{% block footer %}
    {% include 'layout/main/main_footer.html' %}
{% endblock footer %}

{% block script %}
    <!-- 검색어 자동완성 관련 jquery.js, bootstrap-autocomplete.js -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap-autocomplete.js' %}"></script>
    <script>
        let results;
        /**
         * bootstrap-autocomplete api
         * https://iqbalfn.github.io/bootstrap-autocomplete/
         */
        $('#question-search').autocomplete({
            filter: '{% url 'qna:qna_search' %}?query=#QUERY#',
            preProcess(response){
                // 검색결과를 autocomplete형식에 맞게 가공
                results = response.results; // 전연변수 results에 임시로 저장해두고, onPick에서 사용
                return response.results.map((item) => item.text); // text만 추출해서 배열로 리턴
            },
            onPick(input, item) {
                // 사용자가 주어진 결과를 선택했을때, 해당 질문의 상세페이지로 이동
                console.log('onPick', input, item); // input#question-search, item(드랍다운으로 제공된 a태그객체)
                const {id} = results.find((result) => result.text === item.textContent);
                console.log('id = ', id);
                location.href = `/qna/${id}/`;
            }
        });
    </script>
{% endblock script %}


