{% extends 'layout/main/main_base.html' %}
{% load static %}

{% block title %}Q&A{% endblock title %}

{% block header %}
    {% include 'layout/main/main_header.html' %}
{% endblock header %}

{% block content %}
    <h3 style="margin-bottom: 50px; font-weight: bold" class="text-center">QnA</h3>
    <!-- 검색 -->
    <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px; justify-content: flex-end;">
        <input type="search" id="searchMember" placeholder="검색어를 입력해주세요" style="padding: 10px; width: 250px; border: 1px solid #ccc; border-radius: 5px;">
        <button id="search_button" type="button" name="search_button" style="background-color: lightgoldenrodyellow; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">검색</button>
    </div>
    <div class="container my-1">
{#        table.table>thead>tr.table-dark>th*4#}
        <table class="table table-striped">
            <thead>
            <tr class="table-dark">
                <th scope="col"></th>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for qna in page_obj %}
                {% if forloop.counter <= 10 %}
                    <tr>
                        <td class="checkbox-column"><input type="checkbox" class="row-checkbox"></td>
                        <td>{{ qna.qna_id }}</td>
                        <td>{{ qna.title }}</td>
                        <td>{{ qna.member_id }}</td>
                        <td>{{ qna.created_at }}</td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="11">등록된 Q&A가 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <!-- 페이징 처리 시작 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 영역 시작 -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'qna:index' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            <!-- 이전페이지 영역 끝 -->

            <!-- 페이지넘버 영역 시작 -->
            {% for page_number in page_obj.paginator.page_range %}
                {# 현재페이지 기준 앞뒤 3개까지만 표시 (4 ~ 7 링크 표시) #}
                {% if page_number >= page_obj.number|add:-3 and page_number <= page_obj.number|add:3 %}
                    {% if page_number == page_obj.number %}
                        {# 현재페이지인 경우 #}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_number }}</a></li>
                    {% else %}
                        {# 현재페이지가 아닌 경우 #}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'qna:index' %}?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}

            {% endfor %}
            <!-- 페이지넘버 영역 끝 -->

            <!-- 다음페이지 영역 시작 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'qna:index' %}?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
            <!-- 다음페이지 영역 끝 -->
        </ul>
    </nav>
    <!-- 페이징 처리 끝 -->

    <a href="{% url 'store:question_create' %}" class="btn btn-primary" style="margin-bottom: 20px;">질문 등록</a>

{% endblock content %}

{% block footer %}
    {% include 'layout/main/main_footer.html' %}
{% endblock footer %}

