{% extends 'layout/main/main_base.html' %}
{% load static %}

{% block title %}Main{% endblock title %}

{% block header %}
    {% include 'layout/main/main_header.html' %}
{% endblock header %}

{% block content %}
    <!-- 회원가입 완료 메시지 -->
    {% if messages %}
        <div id="signup-message" class="alert alert-success text-center"
             style="position: fixed; top: 10px; left: 50%; transform: translateX(-50%);
                    z-index: 9999; width: auto; padding: 10px 20px;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        <script>
            setTimeout(function() {
                let messageBox = document.getElementById("signup-message");
                if (messageBox) {
                    messageBox.style.transition = "opacity 0.5s";
                    messageBox.style.opacity = "0";
                    setTimeout(() => messageBox.remove(), 500);
                }
            }, 5000); // 5초 나타나고 사라지게 했음
        </script>
    {% endif %}
    <br>
    <div class="brand-home-img">
        <img src="{% static 'images/home_text2.png' %}" class="rounded mx-auto d-block" alt="메인홈인사말1">
    </div>
    <br>
{#    <p class="center-text" style="font-size: {{ font_size }};">따뜻한 빵의 향기로 가득한 브레드 스캔소에 오신 것을 환영합니다!</p>#}
    <!-- 슬라이드 -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/bs_main.png' %}" class="d-block custom-img" alt="메인1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/cafe.png' %}" class="d-block custom-img" alt="메인2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ads.png' %}" class="d-block custom-img" alt="메인3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <!-- 메인 브랜드 인사말 -->
    <div class="brand-home2-img">
        <img src="{% static 'images/home_text.png' %}" class="rounded mx-auto d-block" alt="메인홈인사말2">
    </div>
{#    <p class="center-text" style="font-size: {{ font_size }};">언제나 신선한 재료와 정성으로 만든 감동의 빵을 맛 보세요. <br>#}
{#    매일 아침, 갓 구운 빵의 향기로 여러분을 맞이하겠습니다 ( • ᴗ - ) ✧</p>#}
    <br>
    <!-- event & product 텍스트 정렬(홈(본문)) -->
    <div class="main-header">
        <p class="main-left fw-bold fs-4">Event</p> <!-- 좌측 정렬 -->
        <p class="main-right fw-bold fs-4">Product</p> <!-- 우측 정렬 -->
    </div>

    <div class="main-container">
        <!-- evnet 이미지 왼쪽 정렬 -->
        <div class="event-container">
            <div class="event-item">
                <a href="{% url 'event_detail'%}" class="card event-card text-decoration-none">
                <img src="{% static 'images/event1.jpg' %}" class="event-img" alt="이벤트1">
                </a>
            </div>
            <div class="event-item">
                <img src="{% static 'images/event2.jpg' %}" class="event-img" alt="이벤트2">
            </div>
            <div class="event-item">
                <img src="{% static 'images/event3.jpg' %}" class="event-img" alt="이벤트3">
            </div>
        </div>

        <!-- product 이미지 오른쪽 정렬 -->
        <div class="product-container">
            <div class="product-item">
                <img src="{% static 'images/pizzabread.jpg' %}" class="product-img" alt="제품1">
            </div>
            <div class="product-item">
                <img src="{% static 'images/soboro.jpg' %}" class="product-img" alt="제품2">
            </div>
            <div class="product-item">
                <img src="{% static 'images/saltbread.jpg' %}" class="product-img" alt="제품3">
            </div>
        </div>
    </div>
    {# 메뉴에서 신제품 끌어오기했는데 잘 안됌. 코드는 일단 보류 #}
{#        <div class="new-container">#}
{#            {% for item in new_items|slice:":3" %}#}
{#            <div class="new-item">#}
{#                {% if item.item_image %}#}
{#                    <img src="{{ item.item_image }}" class="product-img" alt="{{ item.item_name }}">#}
{#                {% else %}#}
{#                    <img src="{% static 'images/default.jpg' %}" class="product-img" alt="{{ item.item_name }}">#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
<br><br>

{% endblock content %}
{% block footer %}
    {% include 'layout/main/main_footer.html' %}
{% endblock footer %}


