{% extends '../layout/main/main_base.html' %}
{% load static %}

{% block title %}index{% endblock title %}

{% block header %}
    {% include '../layout/main/main_header.html' %}
{% endblock header %}

{% block content %}
    <!-- 회원가입 완료 메시지 -->
    {% if messages %}
        <div id="signup-message" class="alert alert-success text-center"
             style="position: fixed; top: 10px; left: 50%; transform: translateX(-50%);
                    z-index: 9999; width: auto; padding: 10px 20px;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        <script>
            setTimeout(function() {
                let messageBox = document.getElementById("signup-message");
                if (messageBox) {
                    messageBox.style.transition = "opacity 0.5s";
                    messageBox.style.opacity = "0";
                    setTimeout(() => messageBox.remove(), 500);
                }
            }, 5000); // 5초 나타나고 사라지게 했음
        </script>
    {% endif %}
    <p class="center-text" style="font-size: {{ font_size }};">따뜻한 빵의 향기로 가득한 브레드 스캔소에 오신 것을 환영합니다!</p>
    <!-- 슬라이드 -->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/bs_main.png' %}" class="d-block custom-img" alt="메인1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/kiki.jpg' %}" class="d-block custom-img" alt="메인2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/cake.jpg' %}" class="d-block custom-img" alt="메인3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

{% endblock content %}

{% block footer %}
    {% include '../layout/main/main_footer.html' %}
{% endblock footer %}




