{% extends 'layout/main/main_base.html' %}
{% load static %}

{% block title %}ID/PW 찾기{% endblock title %}

{% block header %}
    {% include 'layout/main/main_header.html' %}
{% endblock header %}

{% block content %}
    <div class="container" style="background-color: #FFFFFF">
        <img src="{% static 'images/login_find.png' %}" alt="text" class="logo-img">
        <form method="post" action="{% url 'main:login_find' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">이름</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="이름을 입력해주세요" value="{{ username|default:'' }}" required>
            </div>
            <div class="mb-3">
                <label for="phone_num">연락처</label>
                <input type="text" name="phone_num" id="phone_num" class="form-control" placeholder="(-) 제외한 숫자만 입력해주세요" value="{{ phone_num|default:'' }}" required>
            </div>
            <div class="mb-3">
                <label for="email">이메일</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="이메일을 입력해주세요" value="{{ email|default:'' }}" required>
            </div>
            
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            
            <button type="submit" class="btn btn-primary">찾기</button>
        </form>
        <a href="{% url 'main:login' %}">로그인</a> |
        <a href="{% url 'main:signup' %}">회원가입</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'layout/main/main_footer.html' %}
{% endblock footer %}
