{% load static %}
<header>
    <div class="logo-container" style="background-color: #E3CDB6;">
        <a href="/brand" class="btn">브랜드소개</a>
        <a href="{% url 'store:store_main' %}" class="btn">매장위치</a>
        <a href="/menu" class="btn">메뉴정보</a>
        <a href="/">
            <img src="{% static 'images/bread_im_text.png' %}" alt="text" class="logo-img">
        </a>
        <a href="/event" class="btn">이벤트</a>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                커뮤니티
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/notice">공지사항</a></li>
                <li><a class="dropdown-item" href="/qna">Q&A</a></li>
            </ul>
        </div>
        <div>
            {% if user.is_authenticated %}
                {% if request.session.member_type == "manager" %}
                    <a href="{% url 'kiosk_main' %}" class="btn btn-light">KIOSK</a>
                    <a href="{% url 'sales:sales_main' %}" class="btn btn-light">매장페이지</a>
                {% else %}
                    <a href="{% url 'member:member_page' %}" class="btn btn-light">마이페이지</a>
                {% endif %}
                    <form action="{% url 'main:logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">로그아웃</button>
                    </form>
            {% else %}
                <a href="{% url 'main:login' %}" class="btn btn-light">로그인</a>
                <a href="{% url 'main:signup' %}" class="btn btn-light">회원가입</a>
            {% endif %}
        </div>
    </div>
</header>