{% load static %}

<footer class="text-dark py-3">
    <div class="footer-container">
        <div class="text-start">
            <img src="{% static 'images/text_logo.png' %}" alt="text" class="footer-img">
            <br><br>
            <h2 class="fs-4 fw-bolder">영업시간 09:00 ~ 20:00</h2>
            <h2 class="fs-6">서울특별시 서초구 효령로 335</h2>
            <h2 class="fs-6">02)123-4567</h2>
            <h2 class="fs-6">이용약관 | 개인정보처리방침</h2>
        </div>
        <div class="text-end">
            <h2 class="fs-2 fw-bolder">Follow Us</h2>
            <h2 class="fs-5 fw-bolder">페이스북 | 인스타그램</h2>
        </div>
    </div>
<br><br>
    <div class="text-center" style="position: absolute; bottom: 0; left: 0; right: 0; padding-bottom: 10px;">
        <p>&copy; 2025 BreadScanso. All rights reserved.</p>
    </div>
</footer>
