{% extends 'layout/store/base_store.html' %}
{% load static %}

{% block title %}결제관리{% endblock title %}

{% block header %}
    {% include 'layout/store/header_store.html' %}
{% endblock header %}

{% block sidebar %}
    {% include 'layout/store/sidebar_store.html' %}
{% endblock sidebar %}

{% block content %}
    <h3 class="text-center">취소 내역</h3>

    <div style="display: flex; gap:30px; margin-bottom: 20px;">
        <input type="datetime-local" name="startDate" id="startDate">
        <p>-</p>
        <input type="datetime-local" name="endDate" id="endDate">
        <button id="date_button" style="background-color:lightgoldenrodyellow;">검색</button>
    </div>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>결제일시</th>
                <th>매장명</th>
                <th>총수량</th>
                <th>총금액</th>
                <th>적립포인트</th>
                <th>결제수단</th>
                <th>회원여부</th>
            </tr>
        </thead>
        <tbody>
            {% for cancel in cancels %}
            {# 🔥<tr style="color: red;">#}
            <tr>
                <td class="clickable" data-payment-id="{{ cancel.payment_id }}">
                    <a href="{% url 'pay:pay_details' cancel.payment_id %}">{{ cancel.pay_at|date:"Y-m-d H:i" }}</a>
                </td>
                <td>{{ cancel.order.store }}</td>
                🔥<td>{{ cancel.order.총수량 }}</td>
                <td>{{ cancel.order.total_amount }}</td>
                <td>{{ cancel.order.earned_points }}</td>
                <td>
                    {% if cancel.payment_method == "credit" %}
                        <span class="badge bg-danger">카드</span>
                    {% elif cancel.payment_method == "cash" %}
                        <span class="badge bg-success">현금</span>
                    {% endif %}
                </td>
                <td>
                    {% if cancel.member %}
                        <span class="badge bg-primary">회원</span>
                    {% else %}
                        <span class="badge bg-warning">비회원</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">취소 내역이 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock content %}

{% block script %}
<script>
    document.getElementById("date_button").addEventListener("click", function() {
        let startDate = new Date(document.getElementById("startDate").value);
        let endDate = new Date(document.getElementById("endDate").value);
        let rows = document.querySelectorAll(".table tbody tr");

        rows.forEach(row => {
            let dateCell = row.querySelector("td:first-child");
            if (dateCell) {
                let purchaseDate = new Date(dateCell.innerText);
                if (purchaseDate >= startDate && purchaseDate <= endDate) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    });
</script>
{% endblock script %}
