{% extends 'layout/member/member_base.html' %}
{% load static %}

{% block title %} MYPAGE | Member Main {% endblock title %}
{% block user_id %}user_id{% endblock user_id %}

{% block content %}
    <h3 class="text-center">회원 구매/취소내역</h3>

    <div style="display: flex; gap:30px; margin-bottom: 20px;">
        <input type="datetime-local" name="startDate" id="startDate">
        <p>-</p>
        <input type="datetime-local" name="endDate" id="endDate">
        <button id="date_button" style="background-color:lightgoldenrodyellow;">검색</button>
        <button id="cancel_details" style="border:solid; border-color:red;">취소내역만 보러가기</button>
    </div>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>결제일시</th>
                <th>매장명</th>
                <th>제품명</th>
                <th>개별수량</th>
                <th>개별금액</th>
                <th>총수량</th>
                <th>총금액</th>
                <th>적립포인트</th>
                <th>결제수단</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td class="clickable" data-payment-id="{{ purchase.id }}">
                    <a href="{% url 'pay_member_details' purchase.id %}">{{ purchase.date }}</a>
                </td>
                <td>{{ purchase.store_name }}</td>
                <td>{{ purchase.product_name }}</td>
                <td>{{ purchase.quantity }}</td>
                <td>{{ purchase.unit_price }}</td>
                <td>{{ purchase.total_quantity }}</td>
                <td>{{ purchase.total_price }}</td>
                <td>{{ purchase.reward_points }}</td>
                <td>{{ purchase.payment_method }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">구매 내역이 없습니다.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block script %}
<script>
    document.getElementById("cancel_details").addEventListener("click", function () {
        window.location.href = "cancel/";
    });

    document.querySelectorAll(".clickable").forEach(cell => {
        cell.addEventListener("click", function () {
            let purchaseId = this.dataset.id;
            window.location.href = `details/${purchaseId}/`;
        });
    });
</script>
{% endblock script %}
