{% extends 'layout/store/base_store.html' %}
{% load static %}

{% block title %}Pay | Main {% endblock title %}
{% block store_id%}store_id{% endblock store_id %}
{% block content %}
            <h3 style="margin-bottom: 50px;" class="text-center">구매/취소내역</h3>

            <div style="display: flex; gap:30px; margin-bottom: 20px;">
            <input type="datetime-local" name="startDate" id="startDate">
                <p>-</p>
            <input type="datetime-local" name="endDate" id="endDate">
                <div style="margin-left: 30px;">
                    <button id="date_button" type="button" name="date_button" style="background-color:lightgoldenrodyellow;">검색</button>
                </div>
                <div>
                <button id="cancel_details" style="margin-left: 90px; border:solid; border-color:red;">취소내역만 보러가기</button>
                </div>
            </div>

            <table class="table table-bordered text-center">
                <thead class="table-light">
                    <tr>
                        <th>결제일시</th>
                        <th>매장명</th>
                        <th>제품명</th>
                        <th>개별수량</th>
                        <th>개별금액</th>
                        <th>총수량</th>
                        <th>총금액</th>
                        <th>적립포인트</th>
                        <th>결제수단</th>
                        <th>회원여부</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in purchases %}
                    <tr data-payment-id = "{{ purchase.payment_id }}">
                        <td class="clickable">{{ purchase.date|date:"Y-m-d H:i" }}</td>
                        <td>{{ purchase.store_name }}</td>
                        <td>{{ purchase.product_name }}</td>
                        <td>{{ purchase.quantity }}</td>
                        <td>{{ purchase.unit_price }}</td>
                        <td>{{ purchase.total_quantity }}</td>
                        <td>{{ purchase.total_price }}</td>
                        <td>{{ purchase.reward_points }}</td>
                        <td>
                            {% if purchase.payment_method == "card" %}
                                <span class="badge bg-danger">카드</span>
                            {% elif purchase.payment_method == "simple" %}
                                <span class="badge bg-success">간편결제</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if purchase.member_status == "member" %}
                                <span class="badge bg-primary">회원</span>
                            {% else %}
                                <span class="badge bg-secondary">비회원</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">구매 내역이 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
    {#  하단 페이지 넘김 버튼  #}
    <nav aria-label="..." style="margin-top:10%;">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-next">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
{% endblock content %}

{% block script %}
<script>

// 설정한 기간 내의 결제 내역이 검색되도록 설정
    document.getElementById("date_button").addEventListener("click", function() {
        // 시작일자, 종료일자 가져오기
        let startDate = new Date(document.getElementById("startDate").value);
        let endDate = new Date(document.getElementById("endDate").value);

        // 테이블 가져오기
        let rows = document.querySelectorAll(".table tbody tr");

        // 결제일자 불러오기
        rows.forEach(row => {
            let dateCell = row.querySelector("td:first-child");
            if (dateCell) {
                let purchaseDate = new Date(dateCell.innerText);

                // purchaseDate가 startDate와 endDate 사이인지 확인
                if (purchaseDate >= startDate && purchaseDate <= endDate) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    });

    // 결제일자 누르면 상세 페이지 - 새탭으로
    document.querySelectorAll(".clickable").forEach(cell => {
        cell.addEventListener("click", function () {
            let paymentRow = this.parentElement;
            let paymentId = paymentRow.getAttribute('data-payment-id');

            if (paymentId) {
                let detailPageUrl = `/details/${paymentId}/`;
                window.open(detailPageUrl, "_blank");
            }
        })
        }
    )

// 임시로 만들어놓는 '취소' 버튼 클릭 시 이동할 '취소내역 페이지'
    document.getElementById("cancel_details").addEventListener("click", function () {
        window.location.href = "/cancel-details/";
    });

// 결제수단 '카드' '간편결제' 중에 선택하면 해당 내역이 나오게 하는 기능 구현 추가 필요. DB 만들어진 뒤에 설정할 예정.

</script>

{% endblock script %}
