{% extends 'layout/store/base_store.html' %}
{% load static %}

{% block title %}시스템설정{% endblock title %}

{% block header %}
    {% include 'layout/store/header_store.html' %}
{% endblock header %}

{% block sidebar %}
    {% include 'layout/store/sidebar_store.html' %}
{% endblock sidebar %}

{% block content %}
    <h3 style="margin-top: 20px; font-weight: bold" class="text-center">공지사항</h3>
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- 하나의 border로 묶인 영역 -->
                <div class="border">
                    <!-- 공지사항 정보 테이블 (2열 2행) -->
                    <table class="table mb-4">
                        <tr style="background-color: #ffeb99">
                            <th class="text-center" style="width: 50%;">제목</th>
                            <th class="text-end" style="width: 20%;">등록일</th>
                        </tr>
                        <tr>
                            <td class="text-center">{{ notice.title }}</td>
                            <td class="text-end">{{ notice.created_at|date:"Y-m-d" }}</td>
                        </tr>
                    </table>

                    <!-- 공지사항 제목과 내용 -->
{#                    <h2 class="text-center mb-3">{{ notice.title }}</h2>#}
{#                    <p class="text-center">{{ notice.content|safe }}</p>#}
                        <h3>{{ notice.title }}</h3>
                        <div>{{ notice.content|safe }}</div>
                </div>

                <!-- 목록 버튼 -->
                <div class="d-flex justify-content-start mt-4">
                    <a href="{% url 'notice_store' %}" class="btn btn-secondary">목록으로</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block footer %}
    {% include 'layout/main/main_footer.html' %}
{% endblock footer %}
