{% load static %}

<div class="col-md-3 flex-shrink-0 p-3" style="width: 280px;">
    <a href="{% url 'member:member_page' %}" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
{#        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>#}
        <span class="fs-5 fw-semibold">MyPage</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#member_info" aria-expanded="false">
                회원정보
            </button>
            <div class="collapse show" id="member_info">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'member:member_edit' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">회원정보수정</a></li>
                    <li><a href="{% url 'member:member_pw' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">비밀번호변경</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='{% url 'member:mypoint' %}'">
                포인트적립금
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='#'">
                상품문의
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='{% url 'pay:pay_member' %}'">
                구매/취소내역
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='{% url 'member:member_delete' %}'">
                회원탈퇴
            </button>
        </li>
    </ul>
</div>

