<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 flex-shrink-0 p-3" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 fw-semibold">MyPage</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#member_info" aria-expanded="false">
                        회원정보
                    </button>
                    <div class="collapse show" id="member_info">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">회원정보수정</a></li>
                            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">비밀번호변경</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='#'">
                        포인트적립금
                    </button>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='#'">
                        상품문의
                    </button>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='#'">
                        구매/취소내역
                    </button>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='#'">
                        회원탈퇴
                    </button>
                </li>
            </ul>
        </div>

        <div class="col-md-9 d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 80vh;">
            <h1>회원 관리 페이지</h1>
            <p>이곳에서 회원 정보를 확인하고 수정할 수 있습니다.</p>
            <button class="btn btn-primary mt-3">회원 정보 수정</button>
        </div>
    </div>
</div>