<div class="flex-shrink-0 p-3" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">MyPage</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#member_info" aria-expanded="false">
          회원정보수정
        </button>
        <div class="collapse show" id="member_info">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">비밀번호변경</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#point" aria-expanded="false">
          포인트적립금
        </button>
        <div class="collapse" id="point" style="">
        </div>
      </li>
        <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#Q_A" aria-expanded="false">
          상품문의
        </button>
        <div class="collapse" id="Q_A" style="">
        </div>
      </li>
        <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#purchase_details" aria-expanded="false">
          구매/취소내역
        </button>
        <div class="collapse" id="purchase_details" style="">
        </div>
      </li>
        <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#withdraw" aria-expanded="false">
          회원탈퇴
        </button>
        <div class="collapse" id="withdraw" style="">
        </div>
      </li>
    </ul>
  </div>
