{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosk | Payment Method</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="kiosk-payment-method">
    <!-- 헤더 추가 (로고 포함) -->
    <header>
        <img src="{% static '/images/brand_logo.png' %}" alt="브랜드 로고" class="brand-logo">
    </header>
    <!-- 지점명 -->
    <span class="store-name">{% if member %}{{ store_name }}{% endif %}점</span>


    <!-- 주문 목록 -->
    <div class="container">
        <div class="order-list">
            <h3>주문 목록</h3>
            <table>
                <thead>
                    <tr>
                        <th>메뉴이름</th>
                        <th>단가</th>
                        <th>수량</th>
                        <th>금액</th>
                    </tr>
                </thead>
                <tbody id="order-table">
                </tbody>
            </table>
            <!-- 박스 없이 표 아래 오른쪽 정렬 -->
            <div class="total-info">
                <p>총 수량: <strong id="totalQuantity">0개</strong></p>
                <p>총 금액: <strong id="totalAmount">0원</strong></p>
                <p>사용 포인트: <strong id="usedPoints">0원</strong></p>
                <p>최종 결제 금액: <strong id="finalAmount">0원</strong></p>
            </div>
        </div>
    </div>

    <!-- 버튼 영역 -->
    <div class="button-container">
        <a href="{% url 'payment_completed' %}">
            <button class="sandybrown-button">카드 결제</button>
        </a>
        <a href="{% url 'payment_completed' %}">
            <button class="sandybrown-button">간편 결제<br>(삼성페이, 애플페이 등)</button>
        </a>
    </div>
    <script>
    const earningRate = parseFloat("{{ request.session.earning_rate }}") || 0;
    </script>
    <!-- JavaScript 파일 불러오기 -->
    <script src="{% static 'js/kiosk-paymentMethod.js' %}"></script>

</body>
</html>