{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosk | Use Point</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="kiosk-usepoint">
    <!-- 헤더 -->
    <header>
        <img src="{% static 'images/brand_logo.png' %}" alt="브랜드 로고" class="brand-logo">
    </header>

    <!-- 지점명 -->
    <div class="store-name">서초동점</div>

    <div class="keypad-container">
        <h5 class="mb-3">포인트를 사용하시겠습니까?</h5>
        <p class="mb-3">총 결제 금액 <strong id="totalPrice">0</strong>원</p>

        <p class="mb-3">잔여 포인트 <strong id="points">0</strong>P</p>

        <p class="mb-3">사용 가능한 최대 포인트 <strong id="max-points">0</strong>P</p>

        <label for="points-input"></label><input type="text" id="points-input" class="input-box" value="0" readonly>

        <p class="text-muted small">최소 사용 포인트는 <strong id="min-points">1,000</strong>P 입니다.</p>

        <div class="keypad">
            <button class="btn btn-light" onclick="addNumber(1)">1</button>
            <button class="btn btn-light" onclick="addNumber(2)">2</button>
            <button class="btn btn-light" onclick="addNumber(3)">3</button>
            <button class="btn btn-light" onclick="addNumber(4)">4</button>
            <button class="btn btn-light" onclick="addNumber(5)">5</button>
            <button class="btn btn-light" onclick="addNumber(6)">6</button>
            <button class="btn btn-light" onclick="addNumber(7)">7</button>
            <button class="btn btn-light" onclick="addNumber(8)">8</button>
            <button class="btn btn-light" onclick="addNumber(9)">9</button>
            <button class="btn btn-secondary" onclick="clearInput()">C</button>
            <button class="btn btn-light" onclick="addNumber(0)">0</button>
            <button class="btn btn-secondary" onclick="deleteLast()">X</button>
        </div>

        <div class="button-container">
            <a href="{% url 'payment_method' %}">
                <button class="btn btn-outline-danger btn-lg">사용 안 함</button>
            </a>
            <button class="btn btn-primary btn-lg" onclick="confirmPoints()">확인</button>
        </div>
    </div>

    <!-- JavaScript 파일 불러오기 -->
    <script src="{% static 'js/kiosk-usePoint.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>