{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosk | Main</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="kiosk-main">
    <div class="store-container">
        <!-- 지점명 -->
        <a href="/">
            <img src="{% static 'images/bread_im_text.png' %}" alt="text" class="logo-img" width="200">
        </a>
        <div class="store-name">서초동점</div>
    </div>

    <!-- 시작하기 버튼 -->
    <a href="{% url 'products' %}">
        <button class="start-button">시작하기</button> {# 버튼 누르면 products 창이 열리면서, menu_item 테이블의 일부 컬럼 값이 세션에 불려져야 한다. #}
    </a>
</body>

</html>