{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosk | Member</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="kiosk-member">
    <!-- 헤더 -->
    <header>
        <img src="{% static 'images/brand_logo.png' %}" alt="브랜드 로고" class="brand-logo">
    </header>

    <!-- 지점명 -->
    <div class="store-name">서초동점</div>

    <h2>회원이신가요?</h2>

    <div class="button-container">
        <a href="{% url 'phonenumber' %}">
            <button class="black-button">네</button>
        </a>
        <a href="{% url 'payment_method' %}">
            <button class="black-button">아니요</button>
        </a>
    </div>


</body>

</html>
