{% extends 'layout/store/base_store.html' %}
{% load static %}

{% block title %}Store | Community Modify {% endblock %}
{% block store_id %}store_id{% endblock %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<style>
/* 버튼 컨테이너 전체 */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

/* 목록 버튼 위치 (왼쪽 정렬) */
.left-buttons {
    align-self: flex-start;
}

/* 수정 & 삭제 버튼 위치 (오른쪽 정렬) */
.right-buttons {
    display: flex;
    gap: 10px;
}
</style>
    
    <!-- 공지사항  -->
    <h3 style="margin-bottom: 50px;" class="text-center">공지사항</h3>
    
    <!-- 목록, 수정, 삭제 버튼 -->
    <div class="button-container">
        <div class="left-buttons">
            <button type="button" class="btn btn-success" id="list-btn" onclick="location.href='{% url 'store:community_notice' %}'">목록</button>
        </div>
        <div class="right-buttons">
            <button type="button" class="btn btn-primary" id="edit-menu-btn" onclick="location.href='{% url 'store:community_notice_write' %}'">수정</button>
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">삭제</a>
        </div>
    </div>
    
        <!-- 게시글 삭제 팝업창 -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="confirmSuccessLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmSuccessLabel">게시글 삭제 안내</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말로 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="finalConfirmButton" onclick="location.href='{% url 'store:community_notice' %}'">확인</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block script %}

{% endblock script %}