{% load static %}

<div class="col-md-3 flex-shrink-0 p-3" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
{#      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>#}
        <span class="fs-5 fw-semibold">Store</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#sale_info" aria-expanded="false">
                매출정보
            </button>
            <div class="collapse" id="sale_info">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'sales:sales_main' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">그래프</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">매출</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">AI챗봇</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#inventory" aria-expanded="false">
                재고정보
            </button>
            <div class="collapse" id="inventory" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'stock_product' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">제품</a></li>
                    <li><a href="{% url 'stock_ingredient' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">재료</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='{% url 'menu_store' %}'">
                메뉴관리
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='{% url 'pay:pay_main' %}'">
                결제관리
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" aria-expanded="false" onclick="location.href='{% url 'store:member_store' %}'">
                회원관리
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#system-collapse" aria-expanded="false">
                시스템설정
            </button>
            <div class="collapse" id="system-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>▪️ 화면관리</li>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
                        <li><a href="{% url 'store:store_home_edit' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">홈 화면 수정</a></li>
                        <li><a href="{% url 'store:about_breadscanso_edit' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">브랜드 소개</a></li>
                        <li><a href="{% url 'store:store_map' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">매장 안내</a></li>
                        <li><a href="{% url 'store:store_event' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">이벤트</a></li>
                        <li>▪️ 커뮤니티</li>
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-3">
                            <li><a href="{% url 'store:community_notice' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">공지사항</a></li>
                            <li><a href="{% url 'store:community_qna' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Q&A</a></li>
                        </ul>
                    </ul>
                    <li><a href="{% url 'store:store_account' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">▪️ 매장 정보</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

