{% extends 'layout/store/base_store.html' %}
{% load static %}

{% block title %}Store | Menu{% endblock %}
{% block store_id %}store_id{% endblock %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<style>
/* 기존 CSS 스타일 */
.store-menu-table table {
    border-collapse: collapse;
    width: 100%;
}
.store-menu-table th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.store-menu-table thead {
    border-bottom: 3px solid black;
}
.store-menu-table .checkbox-column {
    width: 50px;
}

/* 검색창 위치 */
#search-container {
    position: absolute;
    top: 150px;
    right: 20px;
}

.store-menu-table tbody tr {
    cursor: pointer;
}

.store-menu-table tbody tr:hover {
    background-color: gray;
}

/* 반응형 레이아웃 */
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column; /* 작은 화면에서 세로로 배치 */
    }
    .d-flex button {
        margin: 10px 0; /* 버튼 간 간격 추가 */
    }
}
</style>

<!-- 검색창 -->
<div class="d-flex justify-content-end mt-3" id="search-container">
  <form class="d-flex" role="search" id="search-form">
    <input class="form-control me-2 search-input" type="search" id="search-input" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<!-- 테이블 -->
<table class="table store-menu-table">
  <thead>
    <tr>
      <th class="checkbox-column"><input type="checkbox" id="select-all"></th>
      <th scope="col">제품 아이디</th>
      <th scope="col">제품명</th>
      <th scope="col">매장</th>
      <th scope="col">판매가</th>
      <th scope="col">원가</th>
      <th scope="col">제품 설명</th>
      <th scope="col">카테고리</th>
      <th scope="col">노출여부</th>
      <th scope="col">인기상품</th>
      <th scope="col">신상품</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
        <td class="checkbox-column"><input type="checkbox" class="row-checkbox"></td>
        <td>{{ item.item_id }}</td>
        <td>{{ item.item_name }}</td>
        <td>{{ item.store }}</td>
        <td>{{ item.sale_price }}</td>
        <td>{{ item.cost_price }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.show }}</td>
        <td>{{ item.best }}</td>
        <td>{{ item.new }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="11">등록된 제품이 없습니다.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
