{% extends 'layout/store/base_store.html' %}
{% load static %}

{% block title %}Store | Menu{% endblock %}
{% block store_id %}store_id{% endblock %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}

<!-- 테이블 -->
<table class="Item">
  <thead>
    <tr>
      <th class="checkbox-column"><input type="checkbox" id="select-all"></th>
      <th>제품아이디</th>
      <th>제품명</th>
      <th>매장</th>
      <th>판매가</th>
      <th>원가</th>
      <th>제품설명</th>
      <th>카테고리</th>
      <th>인기상품</th>
      <th>신상품</th>
      <th>노출여부</th>
      <th>재고수량</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
        <td>{{ item.item_id }}</td>
        <td>{{ item.item_name }}</td>
        <td>{{ item.store }}</td>
        <td>{{ item.sale_price }}</td>
        <td>{{ item.cost_price }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.best }}</td>
        <td>{{ item.new }}</td>
        <td>{{ item.show }}</td>
        <td>{{ item.stock }}</td>
    </tr>
    {% endfor %}
</tbody>

</table>>

    
{% endblock content %}

{% block script %}
{% endblock script %}
