{% extends 'layout/main/main_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}메뉴상세정보{% endblock title %}

{% block header %}
    {% include 'layout/main/main_header.html' %}
{% endblock header %}

{% block content %}
    <body class="text-dark py-3" style="background-color: #ffffff;">

    <!-- 제품 상세 정보 -->
    <div class="product-detail-container">
        <div class="product-content">
            <div class="product-image">
                <!-- S3 이미지 사용 -->
                {% if item.item_image %}
                    <img src="{{ item.item_image }}" alt="{{ item.item_name }}">
                {% else %}
                    <img src="{% static 'images/default.png' %}">
                {% endif %}
            </div>
        
            <div class="product-info">
                <!-- Best & New 태그 추가 -->
                <div class="tag-container">
                    {% if item.best %}
                        <span class="tag best-tag">Best</span>
                    {% endif %}
                    {% if item.new %}
                        <span class="tag new-tag">New</span>
                    {% endif %}
                </div>
            
                <h1>{{ item.item_name }}</h1>
                <p>{{ item.description }}</p>

                <div class="product-meta">
                    <hr>
                    <h4><strong>영양정보:</strong></h4>
                
                    {% if nutrition %}
                            <p>● 총 내용량: {{ nutrition.nutrition_weight|intcomma }}g</p>
                            <p>● 총 내용량당 칼로리(kcal): {{ nutrition.nutrition_calories }}</p>
                        
                        <div class="nutrition-row">
                            <p>● 총 내용량당:</p>
                            <p>· 나트륨(mg): {{ nutrition.nutrition_sodium }}</p>
                            <p>· 당류(g): {{ nutrition.nutrition_sugar }}</p>
                            <p>· 탄수화물(g): {{ nutrition.nutrition_carbohydrates }}</p>
                            <p>· 포화지방(g): {{ nutrition.nutrition_saturated_fat }}</p>
                            <p>· 트랜스지방(g): {{ nutrition.nutrition_trans_fat }}</p>
                            <p>· 단백질(g): {{ nutrition.nutrition_protein }}</p>
                        </div>
                    {% else %}
                        <p>정보 없음</p>
                    {% endif %}

                <hr>
                    <h4><strong>알레르기 정보:</strong></h4>
                
                    {% if allergy %}
                        <div class="nutrition-row">
                            {% if allergy.allergy_wheat %}<p>밀,</p>{% endif %}
                            {% if allergy.allergy_milk %}<p>우유,</p>{% endif %}
                            {% if allergy.allergy_egg %}<p>계란,</p>{% endif %}
                            {% if allergy.allergy_soybean %}<p>대두,</p>{% endif %}
                            {% if allergy.allergy_nuts %}<p>견과류,</p>{% endif %}
                            <p>기타: {{ allergy.allergy_etc }}</p>
                        </div>
                    {% else %}
                        <p>정보 없음</p>
                    {% endif %}
                </div>
                
                <hr>
                <p class="product-price"><strong>판매가:</strong> {{ item.sale_price|intcomma|default:"가격 미정" }}원</p>
            </div>
        </div>
        <!-- 목록 버튼 하단 왼쪽에 위치 (이전 페이지로 이동) -->
        <button class="back-button" onclick="history.back();">◀ 목록으로</button>
    </div>
{% endblock content %}

{% block footer %}
    {% include 'layout/main/main_footer.html' %}
{% endblock footer %}

